.sideBar{
    background-color: black;
    border-top-right-radius: 1vw;
    padding: 4em 2em 0 2em;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    flex: 0 1 auto;

    h2{
        color: rgb(215, 215, 215);
        margin: 1em;
        font-style: bold;
    }

    p {
        color : #bababa;
        margin: 0.5em;
        font-size: 1.5em;
    }

    button{

        &:hover{
            background-color: #d3cfcf5b;
        }
    }
}



ul{
    list-style: none;
    padding-inline-start: unset;
}


li{
    color: gray;
    list-style: none;
    width: 100%;

    >.listButtonStyle{
        background-color: transparent;
        color: gray;
        font-size: 1.5em;
        width: 100%;
        margin:unset;
        padding: 0.5em 0.5em 0.5em 1em;
        text-align: left;
    
        &.activeBtn{
            background-color: #d3cfcf38;
            color: rgb(226, 225, 225);
        }
    }
    
}
